[submodule "oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:ilathem/ohmyzsh.git
[submodule "powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "neovim"]
	path = neovim/.config/nvim
	url = git@github.com:ilathem/nvim.git
